html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: fantasy;
    position: relative;
    background-color: black;
}
.hidden {
    display: none !important;
}
h1 {
    margin: 0;
    width: 100%;
}
h2 {
    margin:0;
}
h3 {
    margin: 0;
    font-size: 1.2rem;
}
p {
    margin: 0;
    text-align: left;
    font-size: 1.2rem;
}
.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("/images/silver-twilight2.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}
.header {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 40%;
    width: 80%;
}
.game-title {
    color: rgba(0, 0, 0, .0);
    font-size: 3em;
    text-shadow: 2px 2px 3px rgba(228, 235, 166, 0.7); 
    text-align: center;
    width: 100%;
}
.btn {
    border: none;
    margin: 1rem;
    width: 10rem;
    height: 3rem;
    font-size: 1.17rem;
    color: rgb(65, 4, 4);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    background-color: rgba(231, 235, 166, 0.7);
    box-shadow: 0px 0px 7px rgba(228, 235, 166, 0.8); 
}
.btn:hover {
    background-color: rgba(144, 160, 116, 0.5);
}
.landing-page {
    display: flex;
    flex-direction: column; 
    justify-content: top;
    align-items: center;
    height: 55%;
    width: 40%;
}
.login-box {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-page {
    display: flex;
    flex-direction: column; 
    justify-content: top;
    align-items: center;
    height: 55%;
    width: 40%;
}
.form-control {
    color:black;
    margin: .6rem;
    width: 200px;
    height: 2.5rem;
    font-size: .8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    background-color: rgba(228, 235, 166, .5);
    border-color: rgba(228, 235, 166, .5);
    cursor: text;
}   
.form-control::placeholder {
    color:black
}
.account-page {
    display: flex;
    flex-direction: column; 
    justify-content: top;
    align-items: center;
    height: 55%;
    width: 40%;
}
.enter-page {
    display: flex;
    flex-direction: column; 
    justify-content: top;
    align-items: center;
    height: 55%;
    width: 40%;
}
.greeting-box {
    width: 16rem;
    color: black;
    padding: 20px 20px 20px 20px;
    margin-bottom: 15px;
    text-align: center;
    background-color: rgba(231, 235, 166, 0.7);
    box-shadow: 0px 0px 7px rgba(228, 235, 166, 0.8);     
}
.goodbye-message {
    color: rgb(46, 4, 4);;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}
.game-page {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: rgba(231, 235, 166, 0.7);
    box-shadow: 0px 0px 7px rgba(228, 235, 166, 0.8);  
}
.status-bar {
    padding: 0;
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: left;
    background-image: url("/images/parchment.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
}
.player-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 30em;
    margin: 0;
}
.username {
    font-size: 1.5em;
    color: rgb(65, 4, 4);;
}
.money-stats {
    display: flex;
    align-items: baseline;
    padding-right: 2em;
}
.power-stats {
    display: flex;
    align-items: baseline;
    padding-right: 2em;
}
.current-values {
    margin: 0;
    padding-left: .5em;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(65, 4, 4);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.avatar {
    height: 110%;
    margin-left: 0;    
}
.news-section {
    padding-top: 2rem;
    padding-left: 7.5%;
    padding-right: 7.5%;
    color: rgb(65, 4, 4);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    text-align: left;
}
.goodbye {
    padding: 7.5%;
    color: rgb(65, 4, 4);;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    text-align: center;
}
.submit-message {
    padding: 7.5%;
    color: rgb(65, 4, 4);;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    text-align: center;
}
.content-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 18px;
    font-weight: bold;
    color: rgb(65, 4, 4);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    margin-bottom: 1.5rem;
}
.action-fields {
    padding: .5rem;
    margin-bottom: 2rem;
    width: 85%;
    background-color: rgba(110, 2, 2, 0.788);
    color: rgba(228, 235, 166, .7); 
    display: flex;
    flex-direction: column;
}
.submit-action-btn {
    margin-top: 2rem;
    background-color: rgba(110, 2, 2, 0.788);
    color: rgba(228, 235, 166, .7); 
    font-size: 1.3rem;
}
.action-money-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.action-power-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}
.option {
    cursor: pointer;
    height: 1rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.option:hover {
    color: rgb(47, 2, 2)
}
.action-title {
    font-family: fantasy;
    font-size: 1.5rem;
    color: black;
}
.acquire {
    width:100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.influence {
    width:100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dropdown {
    color:black;
    margin-bottom: 1rem;
    padding: 0;
    width: 80%;
    height: 2.5rem;
    font-size: .8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    background-color: rgba(228, 235, 166, .5);
    cursor: pointer;
}

.leader-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 18px;
    color: rgb(65, 4, 4);
    width: 100%;
}

.leaderboard {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    height: 8rem;
    overflow-y: auto;
    color: black;
    background-color: rgba(228, 235, 166, .5);
}

.leader {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .9rem;
    text-align: left;
    border-bottom: solid;
    border-width: thin;
    border-color: rgb(65, 4, 4);
    margin-bottom: .6rem;
}

.column {
    width: 25%;
    margin: 0;
}

.leader-name-column {
    width: 50%;
}

@media only screen and (min-width: 1020px)  {
    .game-page {
        width: 50%; 
        margin-top: 4em;  
        margin-bottom: 4em;
    }
    .avatar {
        height: 120%;
        margin-left: 1.5rem;  
        margin-right: 1rem;      
    }
    .game-title {
        font-size: 4em;
        margin-bottom: 2.3rem;
    }
    .dropdown{
        font-size: 1.1rem;
    }
    .form-control {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 350px)  {
    .game-title {
        font-size: 2em;
        margin-bottom: 2.3rem;
    }
}

